.main-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}
.main-questions {
  color: black;
  width: 90%;
}

.questions-btn {
  width: 240px;
  height: 40px;
  border: none;
  background-color: whitesmoke;
  color: var(--primary-color);
  border-radius: 4px;
  margin-top: 8px;
  font-size: 18px;
  font-family: "Arimo", "Segoe UI";
  font-weight: bold;
  align-self: center;
}
.questions-btn:hover {
  background-color: var(--primary-color);
  color: whitesmoke;
}
