.main-navbar {
  width: 100%;
  height: 90px;
  border-bottom: solid 1px rgb(206, 196, 196);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 210;
  position: fixed;
  background-color: white;
  margin-top: 40px;
}
.logo {
  height: 90%;
  cursor: pointer;
  margin-left: 5%;
}
.hamburger {
  display: none;
}
.nav-link {
  text-decoration: none;
  outline: none;
}
h4 {
  color: var(--primary-color);
  padding: 2px;
}
h4:hover {
  background-color: whitesmoke;
  border-radius: 4px;
}
.first-select {
  outline: none;
  border: none;
  font-size: 19px;
  font-family: "Arimo", "Segoe UI";
  color: var(--primary-color);
  font-weight: bold;
  height: 24%;
  margin-top: -1px;
  border: none;
  cursor: pointer;
  width: 210px;
  text-overflow: ellipsis;
}
.first-select:hover {
  background-color: whitesmoke;
}
.hamburger:hover {
  color: grey;
}
.link-wrapper {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 900px) {
  h4 {
    display: none;
  }
  .first-select {
    display: none;
  }
  .hamburger {
    display: flex;
    margin-right: 5%;
  }
  .no-show {
    display: none;
  }
  .logo {
    height: 80%;
  }
  .link-wrapper {
    display: none;
  }
}
