.second-select {
  position: absolute;
  top: 170px;
  outline: none;
  border: none;
  font-size: 14px;
  text-align: center;
  font-family: "Arimo", "Segoe UI";
  color: var(--primary-color);
  font-weight: bold;
  height: 32px;
  margin-top: -20px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-overflow: ellipsis;
  border-top: solid 1px var(--primary-color);
  border-bottom: solid 1px var(--primary-color);
  z-index: 20;
}
